__pycache__/
*.pyc
*.enamlc
.cache/v/cache/lastfailed
*/.cache/v/cache/lastfailed

python/jmm/datastructs/examples/tmp/
jmm/datastructs/examples/launcher
jmm/datastructs/examples/prefs.json
jmm/gui.py
